<div class="card">
  <%= image_tag(@post.image.single.url, class: 'card-img-top') if @post.image? %>
  <div class="card-body">
    <h2 class="card-title heading_font mb-4">
      <%= @post.title %>
    </h2>
    
    <div class="card-text text-justify mb-5">
      <%= sanitize(@post.content) %>
    </div>
    
    <%= link_to  "Back", blog_path, class: 'btn btn-sm btn-warning rounded-0' %>
    
    <%= private_links(@post) %>

  </div>
</div>
